$articles: (
masamadre: masamadre,
fermentacion: fermentacion,
sabor: sabor,
variedades: variedades,
formato: formato,
);
@each $nombre, $nombre in $articles {
    ##{$nombre}{
        grid-area: $nombre;
    }
}