.titulo_form{
    font-size: 96px;
    color: $color-secundario;
    text-align: right;
}

.textoForm{
    font-size: 20px;
    color: $color-secundario;
    text-align: right;
}

.labels{
    font-size: 24px;
    color: $color-secundario;
    text-align: left;
}

