// DISPOSITIVOS MOVILES
    @media (max-width: 576px) {
        h1 {
            font-size: 72px;
        }
        h2{
            font-size: 48px;
        }
        .copy_landing{
            font-size: 18px;
        }
        .titulo_form{
            font-size: 48px;
        }
        .localidades{
        font-size: 16px;
        }
        #copy{
        font-size: 16px;
        }
        .TextoReceta{
        font-size: 14px;
        }
        #texto_biodiversidad{
        font-size: 14px;
        }
        .txt_highlight{
            font-size: 20px;
            color:$color-principal;
        }
        .icono_nosimporta{
            height: auto;
            width:3rem;
        }
        .textoLanding{
            font-size: 14px;
        }
        .grid-container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(0,25fr 4,1fr 0,50fr);
            grid-template-areas: 
            "nuestrospanes"
            "masamadre"
            "fermentacion"
            "sabor"
            "variedades"
            "formatos";
            row-gap: 1em;
            row-gap: 0;
            padding: 0;
        }
        .grid-item{
            padding: 0%;
            justify-content: stretch;
        }
        .subtitulo_eshop{
            font-size: 36px;
    }
    }

// TABLETS
    @media (min-width: 576px) and (max-width: 992px) {
        h1{
            font-size: 135px;
        }
        h2{
            font-size: 80px;
        }
        .copy_landing{
            font-size: 24px;
        }        
        .titulo_form{
            font-size: 80px;
        }
        .localidades{
            font-size: 20px;
        }
        #copy{
            font-size: 20px;
        }
        .TextoReceta{
            font-size: 16px;
            }
        #texto_biodiversidad{
            font-size: 18px;
        }
        .txt_highlight{
            font-size: 24px;
            color:$color-principal;
        }
        .icono_nosimporta{
            height: auto;
            width:4rem;
        }
        .textoLanding{
            font-size: 18px;
        }
        .grid-container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6,1fr);
            grid-template-areas: 
            "nuestrospanes"
            "masamadre"
            "fermentacion"
            "sabor"
            "variedades"
            "formatos";
            row-gap: .25em;
        }
        .grid-item{
            padding: 0%;
            justify-content: stretch;
        }
        .subtitulo_eshop{
            font-size: 48px;
    }
}

// DESKTOP
    @media (min-width: 992px) {
        h1{
            font-size: 135px;
        }
        h2{
            font-size: 96px;
        }
        .titulo_form{
            font-size: 90px;
        }
        #copy{
        font-size: 24px;
        }
        .TextoReceta{
        font-size: 20px;
        }
        #texto_biodiversidad{
            font-size: 20px;
            }
        .textoLanding{
            font-size: 20px;
        }
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5,1fr 0,25fr);
            grid-template-areas: 
            "masamadre nuestrospanes"
            "masamadre fermentacion"
            "sabor fermentacion"
            "sabor variedades"
            "formatos variedades"
            "formatos none";
            column-gap: 3em;
            row-gap: 3em;
        }
        .navbar.bg-body-tertiary {
            background-color: transparent;
        }
        header ul{
            background-color: transparent;
        }
    }